.error {
  font-size: 12px;
  color: rgb(250 45 45);
  line-height: 120%;
  display: block;
  text-align: initial;
}

.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest__suggests {
  list-style-type: none;
  padding-left: 0;
  border: 1px solid #dddddd;
}

.geosuggest__item {
  padding: 5px 10px;
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
}

.geosuggest__item:hover {
  background-color: #f5f5f5;
}


